:root {
    --theme-color: rgb(138,43,226);
    -webkit-tap-highlight-color: transparent;
  }

body {
    margin: 0;
    background-color: #0d1117;
}

h1, h2, p, button, div, span {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: left;
}

form {
    margin: 2% auto;
    text-align: center;
    align-items: center;
}

input {
    margin: 2%;
    padding: 2% 5%;
    border-radius: 16px;
    background-color: rgba(255,255,255,0);
    border: 2px solid rgba(255,255,255,0.2);
    color: black;
    box-sizing: border-box;
    width: 90%;
    color: white;
}

textarea {
    background-color: transparent;
    color: white;
}

ul {
    margin: 0;
    margin-block: 0;
    padding-inline: 0;
}

li {
    margin-left: 1em;
}

input:focus {
    outline: none;
    border: 2px solid rgba(255,255,255,0.4);
}

.input-valid {
    border: 2px solid rgba(51, 179, 0, 0.4) !important;
  }

button {
    display: inline-block;
    padding: 0.5em 2em;
    margin: 3% 0;
    text-decoration: none;
    border-radius: 16px;
    background-color: var(--theme-color);
    border: none;
    backdrop-filter: blur(10px);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
 
button:hover {
    background-color: white;
    color: var(--theme-color);
    box-shadow: 0 0 6px 0 var(--theme-color);
}

button:disabled {
    cursor: not-allowed;
}

textarea {
    width: 90%;
    height: 6em;
    font-size: large;
    resize: vertical;
    margin: 2% auto;
    padding: 2%;
}

textarea:focus {
    border-color: darkgray;
    outline: none;
}

.link-text {
    margin: 0;
    text-align: center;
    font-size: 2vh;
    cursor: pointer;
    text-decoration: underline;
}

.error-text {
    margin: 0;
    font-size: medium;
    color: lightcoral;
    text-align: center;
}

.input-file {
    text-align: center;
    cursor: pointer;
    margin: 0;
    border-radius: 16px;
    display: inline-block;
    text-decoration: underline;
    color: darkgray;
}

.input-file:hover {
    color: black;
}

.ck-content{
    background-color: transparent !important;
}

@media (min-width: 990px) {
    .small-text {
        font-size: 2.5vh;
    }

    .input-file {
        padding: 1% 5%;
    }


}