
.card-profile-pic {
    width: 20%;
    border-radius: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.proile-card-text {
    width: 80%;
    box-sizing: border-box;
    padding: 5%;
}

.profile-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 1% 5%;
}

.card-name {
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.card-username {
    text-align: left;
    margin: 0;
}

.tag {
    padding: 0.3em 0.6em;
    background-color:royalblue;
    border-radius: 0.3em;
    margin: 0.25em;
    color:mintcream;
    width: fit-content;
    display: inline-block;
}

.project-card {
    cursor: pointer;
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 3px 0 lightgray;
    margin: 1em 0;
}

.challenge-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 3px 0 lightgray;
    margin: 1em 0;
}

.card-title {
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin: 0 0 1em;
}

@media (min-width: 670px) {
    .profile-card {
        width: 100%;
        margin: 1% 0;
    }

    .challenge-card {
        flex-direction: row;
    }

}

@media (min-width: 990px) {

}