
@media (min-width: 670px) {
    .left-column {
        width: 70%;
        position: relative;
        float: left;
        padding-right: 2em;
        box-sizing: border-box;
    }

    .right-column {
        width: 30%;
        position: relative;
        float: right;
    }
}