
.page {
    width: 100%;
    padding: 5%;
    padding-bottom: 8vh;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (min-width: 670px) {
    .page {
        width: 80%;
        padding: 2% 5% 6vh;
    }
}

@media (min-width: 990px) {
}