
.profile-picture {
    width: 30%;
    border-radius: 100%;
}

.right-div {
    width: 70%;
    padding: 0 5%;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2em;
}

.underline-input {
    border: none;
    text-align: center;
    font-size: large;
    padding: 1%;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.underline-input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.name {
    font-size: medium;
    font-weight: bold;
    display: block;
    padding-bottom: 2%;
    text-align: left;
}

.bio {
    margin: 0;
    text-align: left;
    font-size: medium;
}

.skills-list {
    text-align: left;
    cursor: pointer;
    width: fit-content;
    max-width: 90%;
    margin: 2em auto;
}

.profile-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.profile-tabs > span {
    cursor: pointer;
    font-size: small;
    padding-bottom: 0.5em;
}

.tab-selected {
    font-weight: bold;
    border-bottom: 4px solid var(--theme-color);
}

@media (min-width: 670px) {
    .profile-picture {
        width: 25%;
    }

    .name {
        font-size: larger;
    }

    .bio {
        font-size: medium;
    }

    .right-div {
        width: 75%;
    }

    .skills-list {
        max-width: 60%;
    }

    .profile-tabs {
        padding: 0 3em;
        justify-content: flex-start;
        gap: 3em;
    }
}

@media (min-width: 990px) {

    .profile-header {
        align-items: center;
    }

    .right-div {
        width: 80%;
    }

    .name {
        font-size: x-large;
    }

    .bio {
        font-size: large;
    }

    .skills-list {
        max-width: 50%;
    }

    .underline-input {
        width: 50%;
        margin: 0 25%;
    }
}

@media (min-width: 1024px){
    .profile-picture {
        width: 15%;
    }
}