

.profile-picture {
    width: 40%;
    margin: 0 30%;
    border-radius: 100%;
}

.profile-input {
    border: none;
    text-align: center;
    font-size: large;
    width: 50%;
    padding: 1%;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.profile-input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.name {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 5%;
}

.name-input {
    margin: 0;
    border: none;
    text-align: center;
    font-size: medium;
    padding: 1%;
    border-radius: 0;
    width: 30%;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.name-input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1); 
}

.bio {
    margin: 0 5%;
    text-align: left;
    font-size: medium;
}

.skills-list {
    text-align: left;
    cursor: pointer;
    width: fit-content;
    max-width: 90%;
    margin: 2em auto;
}

@media (min-width: 670px) {
    .profile-picture {
        width: 30%;
        margin: 0 35%;
    }
    .skills-list {
        max-width: 60%;
    }
}

@media (min-width: 990px) {
    .profile-picture {
        width: 30%;
        margin: 0 35%;
    }

    .name {
        font-size: x-large;
    }

    .name-input {
        font-size: x-large;
    }

    .bio {
        margin: 0 10%;
        text-align: center;
        font-size: large;
    }

    .skills-list {
        max-width: 50%;
    }
}